<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.server.mapper.FriendMapper">


    <select id="selectFriends" resultType="com.im.server.entity.User">
        SELECT * FROM tbl_user WHERE id IN
        (SELECT `to` FROM tbl_friend WHERE `from` = #{userId}
         ORDER BY `to`
         limit #{offset}, 10
        );

    </select>
</mapper>